In [1]:
# importing required modules
import pandas as pd 
import mysql.connector as msql
import math
import os

In [5]:
# Importing Excel file form directory 
directory_path =(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana Incubator Sept- Dec 2023 Batch\Kalpana Source File\01_Source_Kalpana General Information")

excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

for file in excel_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")

Data from General Information Source.xlsx:

In [6]:
# Few rows of data
df.head()

,Email,Name,Phone,Gender,Currently pursuing degree,Subject Area,Name of College/University,Country,State/Union Territory,District,City Category,Caste/Category,Annual Income,Assigned Through
0,aparnajayajith97@gmail.com,Aparna S Rajan,9656845889,Female,M.Sc. 1st year,MSc environmental science,All saints college Trivandrum,India,Kerala (KL),Thiruvananthapuram,"Towns and Rural Villages (Not Cities, typicall...",OBC,Below or Equal to 3 lacs per year (INR),Kerala Chapter
1,muskaanashiq1@gmail.com,Muskaan binte Ashiq,6006095772,Female,B.Sc. 1st year,"Basic Science - Life Science, Bio Chemistry",Islamia college of science and commerce,India,Jammu and Kashmir (JK),Srinagar,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",General,Above 3 lacs per year (INR),Regular
2,kavikavita930@gmail.com,kavita gabiyar,9019552650,Female,B.Sc. 3rd year,"physics, computer science, mathametics",Govt first grade clg dharwad,India,Karnataka (KA),Dharwad,"Tier 1 City (Mumbai, Delhi, and similar cities)",OBC,Below or Equal to 3 lacs per year (INR),Regular
3,mallikarp20@iiserbpr.ac.in,MALLIKA PRUSTY,+91 8480744788,Female,B.Sc. 3rd year,"Basic Science - Life Science, Bio Chemistry",INDIAN INSTITUTE OF SCIENCE EDUCATION AND RESE...,India,Odisha(OR),Khordha,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",OBC,Above 3 lacs per year (INR),Regular
4,crystalwinget33@gmail.com,Garima Sangrai,8988398826,Female,B.Sc. 2nd year,Mathematics,Kamala Nehru College,India,New Delhi (DEL),South Delhi,"Tier 1 City (Mumbai, Delhi, and similar cities)",General,Above 3 lacs per year (INR),Regular

In [7]:
# Column Names of data
df.columns

Index(['Email ', 'Name ', 'Phone ', 'Gender ', 'Currently pursuing degree ',
       'Subject Area', 'Name of College/University ', 'Country',
       'State/Union Territory', 'District', 'City Category', 'Caste/Category',
       'Annual Income ', 'Assigned Through'],
      dtype='object')

In [8]:
# Renaming Column name in data
df.columns =['Email', 'Name', 'Phone', 'Gender', 'Currently_pursuing_degree',
       'Subject_Area', 'Name_of_College_University', 'Country',
       'State_Union_Territory', 'District', 'City_category', 'Caste_Category',
       'Annual_Family_Income', 'Assigned_Through']

In [ ]:
#df.to_csv('General_Info.csv', mode='a',index=False)

In [9]:
df.to_csv(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana Incubator Sept- Dec 2023 Batch\Kalpana Output\General_Info.csv",mode='w',index=False)

In [10]:
# Connecting to MySQL Database
conn= msql.connect(host='localhost',user='root',password="VS@123",database="Kalpana_Incubator_Sept_Dec_2023_Batch",auth_plugin='mysql_native_password')

In [11]:
cursor =conn.cursor()

In [12]:
for i, row in df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(df.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO Kalpana_Incubator_Sept_Dec_2023_Batch.01_general_information ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in df.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [13]:
# Inserting records from data file, if already present ignoring it.
for i,row in df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    cursor.execute("INSERT IGNORE INTO Kalpana_Incubator_Sept_Dec_2023_Batch.01_general_information(Email, Name, Phone, Gender, Currently_pursuing_degree, Subject_Area, Name_of_College_University, Country, State_Union_Territory, District, City_category, Caste_Category, Annual_Family_Income, Assigned_Through) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", tuple(row))

In [14]:
conn.commit()