In [1]:
# importing required modules
import pandas as pd 
import mysql.connector as msql
import math
import os
import re
import requests

In [2]:
# Importing Excel file form directory 
directory_path =(r'C:\Users\spjay\OneDrive - VigyanShaala\02 Products  Initiatives\01 SheForSTEM\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana\04 Incubator - Curriculum Cohort\Incubator 6.0 UK\data_files\01_Source_Kalpana General Information')

excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

for file in excel_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")

Data from General Information.xlsx:

In [3]:
df.shape

(489, 18)

In [4]:
# Few rows of data
df.head()

,Email,Name,Phone,Gender,Currently pursuing degree,Subject Area,Name of College/University,Country,State/Union Territory,District,City Category,Caste/Category,Annual Income,Assigned Through,Incubator Course Name,Incubator Batch,College_category,Student_role
0,nehakr2022@gmail.com,Neha Kumari,8.126394e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
1,ankitapandey.bgr2005@gmail.com,Ankita Pandey,8.394071e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
2,ridhimadixit1409@gmail.com,Ridhima Dixit,9.359899e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
3,guptaminkashi153@gmail.com,Minakshi gupta,9.760190e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
4,ankitapargai@gmail.com,Ankita Pargai,9.548626e+09,Female,B.E./B.Tech 4th year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student

In [5]:
df.columns

Index(['Email ', 'Name ', 'Phone ', 'Gender ', 'Currently pursuing degree ',
       'Subject Area', 'Name of College/University ', 'Country',
       'State/Union Territory', 'District', 'City Category', 'Caste/Category',
       'Annual Income ', 'Assigned Through', 'Incubator Course Name',
       'Incubator Batch', 'College_category', 'Student_role'],
      dtype='object')

In [6]:
# Renaming Column name in data
df.columns =['Email', 'Name', 'Phone', 'Gender', 'Currently_Pursuing_Degree',
       'Subject_Area', 'Name_of_College_University', 'Country',
       'State_Union_Territory', 'District', 'City_Category', 'Caste_Category',
       'Annual_Family_Income', 'Assigned_Through','Incubator_Course_Name','Incubator_Batch','College_Category', 'Student_Role']

In [7]:
# Function to clean email addresses
def clean_email(email):

    # Convert to lowercase and remove extra spaces
    cleaned_email = email.lower().strip()
    # Remove patterns like ".com.1"
    cleaned_email = re.sub(r'\.com\.\d+', '.com', cleaned_email)
    return cleaned_email

# Apply the function to the 'email' column
df['Email'] = df['Email'].apply(clean_email)

In [8]:
# Column Names of data
df.columns

Index(['Email', 'Name', 'Phone', 'Gender', 'Currently_Pursuing_Degree',
       'Subject_Area', 'Name_of_College_University', 'Country',
       'State_Union_Territory', 'District', 'City_Category', 'Caste_Category',
       'Annual_Family_Income', 'Assigned_Through', 'Incubator_Course_Name',
       'Incubator_Batch', 'College_Category', 'Student_Role'],
      dtype='object')

In [9]:
df.columns

Index(['Email', 'Name', 'Phone', 'Gender', 'Currently_Pursuing_Degree',
       'Subject_Area', 'Name_of_College_University', 'Country',
       'State_Union_Territory', 'District', 'City_Category', 'Caste_Category',
       'Annual_Family_Income', 'Assigned_Through', 'Incubator_Course_Name',
       'Incubator_Batch', 'College_Category', 'Student_Role'],
      dtype='object')

In [10]:
#df.to_csv('General_Info.csv', mode='a',index=False)

In [11]:
df.to_csv(r"C:\Users\spjay\OneDrive - VigyanShaala\02 Products  Initiatives\01 SheForSTEM\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana\04 Incubator - Curriculum Cohort\Incubator 6.0 UK\output\General_Info.csv",mode='w',index=False)

# Genral Info MySQL table

In [12]:
# Connecting to MySQL Database
conn= msql.connect(host='',user='',password="",database="",auth_plugin='mysql_native_password')
cursor =conn.cursor()

In [13]:
for i, row in df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(df.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO she_for_stem.01_general_information ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in df.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

# Inserting records from data file, if already present ignoring it.
for i,row in df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    cursor.execute("INSERT IGNORE INTO she_for_stem.01_general_information(Email, Name, Phone, Gender, Currently_Pursuing_Degree, Subject_Area, Name_of_College_University, Country, State_Union_Territory, District, City_Category, Caste_Category, Annual_Family_Income, Assigned_Through,Incubator_Course_Name,Incubator_Batch,'College_category','Student_role') VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", tuple(row))

In [14]:
# Commit the transaction
conn.commit()

In [15]:
# Close the connection
cursor.close()
conn.close()

# Connection to Supabase

In [16]:
df.head()

,Email,Name,Phone,Gender,Currently_Pursuing_Degree,Subject_Area,Name_of_College_University,Country,State_Union_Territory,District,City_Category,Caste_Category,Annual_Family_Income,Assigned_Through,Incubator_Course_Name,Incubator_Batch,College_Category,Student_Role
0,nehakr2022@gmail.com,Neha Kumari,8.126394e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
1,ankitapandey.bgr2005@gmail.com,Ankita Pandey,8.394071e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
2,ridhimadixit1409@gmail.com,Ridhima Dixit,9.359899e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
3,guptaminkashi153@gmail.com,Minakshi gupta,9.760190e+09,Female,B.E./B.Tech 3rd year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student
4,ankitapargai@gmail.com,Ankita Pargai,9.548626e+09,Female,B.E./B.Tech 4th year,"Engg.- BCS, BCA, IT, Computer Science",Dr. A.P.J. Abdul Kalam Institute of Technology...,India,Uttarakhand,Dehradun,"""Tier 2 and Tier 3 Cities (Guntur, Patna, Chan...",NaN,NaN,Scholarship,She for STEM - Uttarakhand (Engineering Cohort...,Incubator 6.0,UTU Colleges,Student

In [17]:


# Supabase URL and API key
url = ''
api_key = ''
table_name = 'general_information_01'

# Headers for the request
headers = {
    'apikey': api_key,
    'Authorization': f'Bearer {api_key}',
    'Content-Type': 'application/json',
    'Prefer': 'resolution=merge-duplicates'  # Enable upsert functionality
}

# Batch size for upserting
batch_size = 100  # You can adjust this value based on your performance needs

# List to store rows before sending them in batches
batch_data = []

# Iterate through each row in the DataFrame
for i, row in df.iterrows():
    # Replace NaN values with None
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row]
    # Convert row to a dictionary
    row_dict = dict(zip(df.columns, row))
    
    # Add the row to the batch
    batch_data.append(row_dict)
    
    # If the batch size is reached, send the data
    if len(batch_data) >= batch_size:
        # Send a batch of rows
        response = requests.post(f'{url}/rest/v1/{table_name}', headers=headers, json=batch_data)
        
        # Check response
        if response.status_code in [200, 201]:
            print(f'Batch of {len(batch_data)} rows upserted successfully')
        else:
            print(f'Failed to upsert batch: {response.status_code}, {response.text}')
        
        # Clear the batch after sending
        batch_data = []

# Send any remaining rows in the last batch
if batch_data:
    response = requests.post(f'{url}/rest/v1/{table_name}', headers=headers, json=batch_data)
    
    if response.status_code in [200, 201]:
        print(f'Final batch of {len(batch_data)} rows upserted successfully')
    else:
        print(f'Failed to upsert final batch: {response.status_code}, {response.text}')

Batch of 100 rows upserted successfully
Batch of 100 rows upserted successfully
Batch of 100 rows upserted successfully
Batch of 100 rows upserted successfully
Final batch of 89 rows upserted successfully