In [734]:
# Importing Required modules
import pandas as pd
import mysql.connector as msql
import math
import os
import datetime

In [735]:
# Displaying all columns and rows
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [736]:
#Reading She for STEM Incubator file present on source files
directory_path =(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Remapping\Kalpana Source File\02_Source_Kalpana incubator WN")
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]

for file in csv_files:
    file_path = os.path.join(directory_path, file)
    data = pd.read_csv(file_path)
    print(f"Data from {file}:")

In [737]:
data.head()

In [738]:
# Define a list of column names to extract for putting into database 
columns_to_extract = ['Name', 'Email', 'Segment', 'Mobile', 'Enroll Date', 'Assigned Through', 'Course Name']

# Use the loc method to extract the specified columns
df = data.loc[:, columns_to_extract]

In [739]:
# Create a new dataframe with 'email' column and columns that start with 'Week' 'Video', 'Recording', and 'Master class'
data = data[['Email'] + [col for col in data.columns if col.startswith(('Week','Video', 'SUK', 'Master Class'))]]

In [740]:
oldcol = list(data.columns)

In [741]:
#oldcol =data.columns

In [742]:
oldcol

In [743]:
# Cheaking shape of our dataset
data.shape

In [744]:
# Initialize variables to keep track of the current week, video count, recording count, and master class count
week_col = None
video_count = 0
recording_count = 0
master_count = 0

# Create an empty list to store the new column names
new_cols = []

# Iterate over each column in the data
for col in data.columns:
    # If the column starts with 'Week'
    if col.startswith('Week'):
        # Split the column name by space and get the second element (the week number)
        week_col = col.split()[1]
        # Reset the video, recording, and master class counts for the new week
        video_count = 0
        recording_count = 0
    # If the column starts with 'Video'
    elif col.startswith('Video'):
        # Increment the video count for the current week
        video_count += 1
        # Append a new column name to the list using f-string formatting
        new_cols.append(f'WK{week_col}_V{video_count}')
    # If the column starts with 'Recording'
    elif col.startswith('SUK'):
        # Increment the recording count for the current week
        recording_count += 1
        # Append a new column name to the list using f-string formatting
        new_cols.append(f'WK{week_col}_SUK_V')
    # If the column starts with 'Master Class'
    elif col.startswith('Master Class'):
        # Increment the master class count for the current week
        master_count += 1
        # Append a new column name to the list using f-string formatting
        new_cols.append(f'WK{week_col}_Master{master_count}')
    # If the column doesn't start with any of the above prefixes
    else:
        # Append the original column name to the list
        new_cols.append(col)

# Remove all columns that start with 'Week' from the data
data = data.loc[:, ~data.columns.str.startswith('Week')]
# Assign the new column names to the data
data.columns = new_cols

In [745]:
# Rechecking the shape of dataframe
data.shape

In [746]:
# Cheaking columns name
data.columns

In [747]:
# Check if there are two columns with the name "WK8_SUK_V"
if sum(data.columns == 'WK8_SUK_V') == 2:
    # Find the index of the last occurrence of "WK8_SUK_V"
    last_index = data.columns.to_list().index('WK8_SUK_V', -2)

    # Change the column name to "WK8_SUK_V_live"
    data.columns.values[last_index] = 'WK8_SUK_1'
    # Find the index of the last occurrence of "WK8_SUK_V"
    last_index = data.columns.to_list().index('WK8_SUK_V', -1)

    # Change the column name to "WK8_SUK_V_live"
    data.columns.values[last_index] = 'WK8_SUK_2'

In [748]:
# This condition happen beacause we dont have week number before it so it doesnt have week number 
if 'WKNone_SUK_V' in data.columns:
    data = data.rename(columns={'WKNone_SUK_V': 'WK0_SUK_V'})

In [749]:
# Cheaking for duplicate data
data.duplicated().sum()

In [750]:
# Locating columns for extracting only numbers
col1 = data.iloc[:,1:]

In [751]:
col1.dtypes

In [752]:
# Code for extracting only numbers from dataset
for column in [i for i in col1.columns if col1[i].dtype == 'object']:
    data[column] = data[column].astype(str).str.extract('(\d+)').astype(float)

In [753]:
# Filling Null values with zero
fillna = data.iloc[:,1:]
fillnacol=fillna.columns
data[fillnacol]=data[fillnacol].fillna(0)

In [754]:
data.head()

# Enroll Date MySQL Table

In [755]:
# Creating new table which for Enroll_Dates which is taken from incubator graphy sheet
Enroll=pd.DataFrame(df[["Email", 'Enroll Date']])

In [756]:
# Extracting only Enroll_Date
Enroll[['Enroll Date','Time']]=Enroll['Enroll Date'].str.split(' ',expand=True)
Enroll=Enroll.drop(["Time"],axis=1)

In [757]:
# Connecting to MySQL Database
conn= msql.connect(host='localhost',user='root',password="VS@123",database="Kalpana_Incubator_Sept_Dec_2023_Batch",auth_plugin='mysql_native_password')
cursor =conn.cursor()

In [758]:
# Inserting data to 03_enroll_date table
for i,row in Enroll.iterrows():
    cursor.execute("insert IGNORE into 03_enroll_date (Email,Incubator) values(%s,%s)",tuple(row))

In [759]:
# Replacing data  with new data to 03_enroll_date table
for i,row in Enroll.iterrows():
    cursor.execute("REPLACE into 03_enroll_date (Email,incubator) values(%s,%s)",tuple(row))

In [760]:
conn.commit()

# Payment details MySQL table

In [761]:
# Creating new table which for Payment which is taken from incubator graphy sheet
Payment=pd.DataFrame(df[["Email","Assigned Through"]])

In [762]:
# Extracting only Payment removing Order Id
Payment[["Assigned Through","Order_ID"]]=Payment["Assigned Through"].str.split("-",expand=True)
Payment.drop(["Order_ID"],axis=1,inplace=True)

In [763]:
# Assigning fee cost to different cathegory of enrollment
Payment["Assigned Through"]=Payment["Assigned Through"].replace(['Admin'],'0')
Payment["Assigned Through"]=Payment["Assigned Through"].replace(['Excel Upload'],'0')
Payment["Assigned Through"]=Payment["Assigned Through"].replace(['Paid Transaction '],'1899')

In [764]:
# Connecting to MySQL Database
conn= msql.connect(host='localhost',user='root',password="VS@123",database="Kalpana_Incubator_Sept_Dec_2023_Batch",auth_plugin='mysql_native_password')
cursor =conn.cursor()

In [765]:
# Inserting data into 02_payment_details 
for i,row in Payment.iterrows():
    cursor.execute("insert Ignore into 02_payment_details (Email,Incubator_Fee) values(%s,%s)",tuple(row))

In [766]:
# Replacing data with new data into 02_payment_details 
for i,row in Payment.iterrows():
    cursor.execute("REPLACE into 02_payment_details (Email,Incubator_Fee) values(%s,%s)",tuple(row))

In [767]:
conn.commit()

# Changing seconds to Percentage

In [768]:
# Saving previous column name 
newcol = list(data.columns)

In [769]:
newcol

In [770]:
print(len(data1col))

In [771]:
# Saving previous column name for data1 by removing "Email column"
data_columns = list(data.columns)

# Exclude the 'email' column if it exists
if 'Email' in data_columns:
    data_columns.remove('Email')

data1col = data_columns

In [772]:
oldcol = [col for col in oldcol if not col.startswith("Week")]
num_columns_to_rename = min(len(data.columns), len(oldcol))
data.rename(columns=dict(zip(data.columns[:num_columns_to_rename], oldcol[:num_columns_to_rename])), inplace=True)
data.columns = data.columns.str.split (':').str [0]
data.columns = data.columns.str.strip()

In [773]:
def rename_column(col):
    # Split the column name by space
    parts = col.split()
    special_chars = {'!': '1', '@': '2', '#': '3', '$': '4', '%': '5', '^': '6', '&': '7', '*': '8', '?': '9', '+': '0'}
    
    # If the first part is 'SUK', add the number corresponding to the last character
    if parts[0] == 'SUK':
        return parts[0] + special_chars.get(parts[1][-1], '0')
    
    # If the first part is 'Video', use the prefix 'VID' and the numbers corresponding to the last two characters
    elif parts[0] == 'Video':
        last_char = parts[1][-1]
        second_last_char = parts[1][-2] if len(parts[1]) > 1 else '+'
        return 'VID' + special_chars.get(second_last_char, '0') + special_chars.get(last_char, '0')
    
    # If the first part contains 'Master' and 'Class' is present, use the prefix 'MC' and the numbers corresponding to the last two characters
    elif 'Master' in parts and 'Class' in parts:
        index = parts.index('Master')
        last_char = parts[index + 2][-1]
        second_last_char = parts[index + 2][-2] if len(parts[index + 2]) > 1 else '+'
        return 'MC' + special_chars.get(second_last_char, '0') + special_chars.get(last_char, '0')
    
    # Otherwise, return the column name as it is
    else:
        return col

In [774]:
# Rename the column names using the rename_column function
data.rename(columns=rename_column, inplace=True)

In [775]:
data.columns

In [776]:
# Reading Excel file form our source
excel_file  = pd.read_excel(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Remapping\Kalpana Source File\00_Source_Kalpana Video Details\Timestamp_of_Videos.xlsx")

In [777]:
data1=pd.DataFrame()

In [778]:
# Iterate over each column in the 'data' DataFrame
for column_name in data.columns:
    # Check if the column exists in the Excel file
    if column_name in excel_file['Code'].values:
        # Get the corresponding value in the "Time" column from the Excel file
        value = excel_file.loc[excel_file['Code'] == column_name, 'Time'].values[0]
        
        # Calculate the percentage value
        percentage_value = (data[column_name] * 100) / value
        
        # Assign the calculated percentage value to a new column in the "data1" DataFrame with the same name as the "Code" column
        data1[column_name] = percentage_value
    else:
        # Handle the case when the column is present in 'data' but not in the Excel file
        print(f"Column '{column_name}' present in 'data' but not in the Excel file. Skipping.")

In [779]:
# Iterate over each row in the Excel file
for index, row in excel_file.iterrows():
    # Get the value in the "Code" column
    column_name = row['Code']
    
    # Get the value in the "Time" column
    value = row['Time']
    
    # Check if the 'Code' column exists in the 'data' DataFrame
    if column_name in data.columns:
        # Calculate the percentage value
        percentage_value = (data[column_name] * 100) / value
        
        # Assign the calculated percentage value to a new column in the "data1" DataFrame with the same name as the "Code" column
        data1[column_name] = percentage_value

In [780]:
data.head(15)

In [781]:
# Changing column name back to new column
data.columns = newcol 
data1.columns = data1col

In [782]:
data.columns

In [783]:
data1.columns

In [784]:
# Creating a function "Max_Value" for converting % max 100 if values are above 100
def Max_Value(value):
    if value >=100:
        return 100
    else:
        return value

In [785]:
# Applying Max_Value function
per1=data1.iloc[:,0:]
per1c=per1.columns
data1[per1c]=data1[per1c].applymap(Max_Value)

# Code for converting seconds to hours

In [786]:
# Creating a function for converting seconds to hours
def Convert_Hours(seconds):
    hours = seconds / (3600)
    return hours
n = 5400
print(Convert_Hours(n))

In [787]:
# Applying Convert_Hours function
col1 = data.iloc[:,1:]
col=col1.columns
data[col]=data[col].apply(Convert_Hours)

# Code for Recorded Videos: Total hours, Average & Percentage

## Input Weeks Here â†“

In [788]:
# Define the week number up to which you want to include columns
end_week = 8

In [789]:
# Create a list of all column names up to the end week
cols_to_select = []
for week in range(end_week + 1):
    for video in range(1, 10):
        col_name = f'WK{week}_V{video}'
        if col_name in data.columns:
            cols_to_select.append(col_name)

# Select the desired columns and create a new DataFrame
Recorded_Total = data[cols_to_select]

In [790]:
Recorded_Total.head()

In [791]:
data["Recorded_Total"]=Recorded_Total.sum(axis=1)

In [792]:
data["Recorded_Average"]=Recorded_Total.mean(axis=1)

In [793]:
# Create a list of all column names up to the end week
cols_to_select_per = []
for week in range(end_week + 1):
    for video in range(1, 10):
        col_name = f'WK{week}_V{video}'
        if col_name in data1.columns:
            cols_to_select_per.append(col_name)

# Select the desired columns and create a new DataFrame
Recorded_Percent = data1[cols_to_select_per]

In [794]:
Recorded_Percent.head()

In [795]:
data["Recorded_Percentage"]=Recorded_Percent.mean(axis=1)

# Code for SUK Recorded Videos: Total hours, Average & Percentage

In [796]:
# Create a list of all column names up to the end week
cols_to_select = []
for week in range(end_week + 1):
    col_name = f'WK{week}_SUK_V'
    if col_name in data.columns:
        cols_to_select.append(col_name)

# Select the desired columns and create a new DataFrame
SUK_Recorded_Total = data[cols_to_select]

In [797]:
SUK_Recorded_Total.head()

In [798]:
data["SUK_Recorded_Total"]=SUK_Recorded_Total.sum(axis=1)

In [799]:
data["SUK_Recorded_Average"]=SUK_Recorded_Total.mean(axis=1)

In [800]:
# Create a list of all column names up to the end week
cols_to_select = []
for week in range(end_week + 1):
    col_name = f'WK{week}_SUK_V'
    if col_name in data1.columns:
        cols_to_select.append(col_name)

# Select the desired columns and create a new DataFrame
SUK_Recorded_Percent = data1[cols_to_select]

In [801]:
data["SUK_Recorded_Percentage"]=SUK_Recorded_Percent.mean(axis=1)

# Code for Master Class: Total hours, Average & Percentage

In [802]:
# Create a list of all column names up to the end week
cols_to_select = []
for week in range(end_week + 2):
    for masterclass in range(1, 10):
        col_name = f'WK{week}_Master{masterclass}'
        if col_name in data.columns:
            cols_to_select.append(col_name)

# Select the desired columns and create a new DataFrame
Masterclass_Total = data[cols_to_select]

In [803]:
data["Masterclass_Total"]=Masterclass_Total.sum(axis=1)

In [804]:
data["Masterclass_Average"]=Masterclass_Total.mean(axis=1)

In [805]:
# Create a list of all column names up to the end week
cols_to_select = []
for week in range(end_week + 1):
    for masterclass in range(1, 10):
        col_name = f'WK{week}_Master{masterclass}'
        if col_name in data1.columns:
            cols_to_select.append(col_name)

# Select the desired columns and create a new DataFrame
Masterclass_Percent = data1[cols_to_select]

In [806]:
Masterclass_Percent.head()

In [807]:
data["Masterclass_Percentage"]=Masterclass_Percent.mean(axis=1)

# Code for Program: Total hours, Average & Percentage

In [808]:
# select columns from data where the column names start with "WK"
selected_cols = [col for col in data.columns if col.startswith('WK')]

# create a new dataframe called Whole_Program_Total with the selected columns
Whole_Program_Total = data[selected_cols]

In [809]:
Whole_Program_Total.head()

In [810]:
data["Program_Total"]=Whole_Program_Total.sum(axis=1)

In [811]:
data["Program_Average"]=Whole_Program_Total.mean(axis=1)

In [812]:
# select columns from data where the column names start with "WK"
selected_cols = [col for col in data1.columns if col.startswith('WK')]

# create a new dataframe called Whole_Program_Total with the selected columns
Whole_Program_Percent = data1[selected_cols]

In [813]:
data["Program_percentage"]=Whole_Program_Percent.mean(axis=1)

In [814]:
data=data.round(2)

In [815]:
# Saving In Database
data.to_csv(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana Incubator Sept- Dec 2023 Batch\Kalpana Output\Incubator_and_attendence_monitoring_WithoutNotation.csv",mode='w',index=False)

# Incubator and attendance monitoring MySQL table

In [816]:
data.columns

In [817]:
data.head()

In [818]:
data.columns

In [819]:
oldcol

In [820]:
oldcol = [col for col in oldcol if not col.startswith("Week")]

In [821]:
oldcol

In [822]:
#data.columns = oldcol[:len(data.columns)]
# Now, let's say you want to change the column names of 'old_dataset' based on 'filtered_column_names'
num_columns_to_rename = min(len(data.columns), len(oldcol))
print(num_columns_to_rename)

In [823]:
data.rename(columns=dict(zip(data.columns[:num_columns_to_rename], oldcol[:num_columns_to_rename])), inplace=True)

In [824]:
data.columns

In [825]:
# Split the columns by ':' and keep only the first part
data.columns = data.columns.str.split (':').str [0]

In [826]:
data.columns

In [827]:
data.columns = data.columns.str.strip()

In [828]:
def rename_column(col):
    # Split the column name by space
    parts = col.split()
    special_chars = {'!': '1', '@': '2', '#': '3', '$': '4', '%': '5', '^': '6', '&': '7', '*': '8', '?': '9', '+': '0'}
    
    # If the first part is 'SUK', add the number corresponding to the last character
    if parts[0] == 'SUK':
        return parts[0] + special_chars.get(parts[1][-1], '0')
    
    # If the first part is 'Video', use the prefix 'VID' and the numbers corresponding to the last two characters
    elif parts[0] == 'Video':
        last_char = parts[1][-1]
        second_last_char = parts[1][-2] if len(parts[1]) > 1 else '+'
        return 'VID' + special_chars.get(second_last_char, '0') + special_chars.get(last_char, '0')
    
    # If the first part contains 'Master' and 'Class' is present, use the prefix 'MC' and the numbers corresponding to the last two characters
    elif 'Master' in parts and 'Class' in parts:
        index = parts.index('Master')
        last_char = parts[index + 2][-1]
        second_last_char = parts[index + 2][-2] if len(parts[index + 2]) > 1 else '+'
        return 'MC' + special_chars.get(second_last_char, '0') + special_chars.get(last_char, '0')
    
    # Otherwise, return the column name as it is
    else:
        return col

In [829]:
# Rename the column names using the rename_column function
data.rename(columns=rename_column, inplace=True)

In [830]:
data.columns

In [834]:
data.head()

In [832]:
mask = data.columns.duplicated().sum()
print(mask)

# Storing data on MySQL

In [642]:
merged = df.merge(data, on ='Email', how = 'inner')

In [643]:
merged = merged.drop('Enroll Date', axis=1)

In [646]:
merged = merged.rename(columns={'Assigned Through': 'Assigned_Through'})
merged = merged.rename(columns={'Mobile': 'Phone'})
merged = merged.rename(columns={'Course Name': 'Course_Name'})

In [648]:
merged.head()

,Name,Email,Segment,Phone,Assigned_Through,Course_Name,VID01,VID02,MC08,VID07,VID09,VID08,VID10,MC02,VID11,VID12,VID22,VID05,VID06,MC02,VID23,VID24,VID25,VID26,VID27,VID28,MC05,MC04,VID29,VID30,VID31,VID32,VID33,VID34,VID35,VID36,VID37,VID38,VID39,VID40,VID41,VID42,VID43,VID44,MC09,VID45,VID46,VID47,VID48,VID21,MC11,MC10
0,VigyanShaala International,managing.trustee@vigyanshaala.com,trial,+917028422265,Paid Transaction - Order Id: OhUkP16553937330412,Kalpana SHE for STEM Incubator_July 22 Batch,10.0,206.0,1925.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,61.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Sreejith Sreenivasan,sreejithsreenivasan2147@yahoo.co.in,trial,+919981521888,Admin,Kalpana SHE for STEM Incubator_July 22 Batch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Vijay Venugopalan,vijayacads@gmail.com,trial,+919890656439,Access Code: AWWBSEJG,Kalpana SHE for STEM Incubator_July 22 Batch,0.0,0.0,0.0,483.0,8.0,12.0,0.0,12.0,24.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,212.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,VigyanShaala,vigyanshaala@gmail.com,trial,+917822010479,Paid Transaction - Order Id: HzNKt16551053285391,Kalpana SHE for STEM Incubator_July 22 Batch,11.0,6.0,0.0,36.0,0.0,0.0,6.0,4.0,14.0,3.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Ankita Kandalkar,kandalkarankita@gmail.com,paid,+919967835338,Paid Transaction - Order Id: KAuKQ165546768672...,Kalpana SHE for STEM Incubator_July 22 Batch,314.0,294.0,0.0,170.0,1384.0,18.0,14.0,837.0,23.0,21.0,10.0,7.0,9.0,7.0,12.0,8.0,4.0,6.0,7.0,10.0,6.0,12.0,15.0,19.0,8.0,35.0,13.0,16.0,19.0,13.0,18.0,16.0,18.0,33.0,19.0,13.0,13.0,53.0,10.0,259.0,284.0,19.0,15.0,25.0,9.0,0.0

In [184]:
conn= msql.connect(host='localhost',user='root',password="VS@123",database="Kalpana_Incubator_Sept_Dec_2023_Batch",auth_plugin='mysql_native_password')
cursor =conn.cursor()

In [185]:
# Get the existing columns in the database
cursor.execute("SHOW COLUMNS FROM 08_incubator_and_attendance_monitoring")
existing_columns = [col[0] for col in cursor.fetchall()]

# Define the column name before which the new column should be added
target_column = 'Recorded_Total'

# Check if any new columns exist in the dataframe but not in the database
new_columns = [col for col in merged.columns if col not in existing_columns]
if new_columns:
    # Add new columns to the database before the target column
    for col in reversed(new_columns):
        if col not in existing_columns:
            # Get the index of the target column
            target_column_index = existing_columns.index(target_column)
            # Set the data type based on whether the column name starts with Comment
            data_type = "INT" 
            alter_query = f"ALTER TABLE 08_incubator_and_attendence_monitoring ADD COLUMN {col} {data_type} AFTER {existing_columns[target_column_index - 1]}"
            cursor.execute(alter_query)
            existing_columns.insert(target_column_index - 1, col)

In [186]:
# Your existing code for inserting data into the database table
for i, row in merged.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(merged.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO 08_incubator_and_attendance_monitoring ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in merged.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [187]:
conn.commit()

# Extracting desire output to excel sheet

In [188]:
data.head()

,Email,WK0_SUK_V,WK0_Master1,WK1_V1,WK1_V2,WK1_Master2,WK2_V1,WK2_V2,WK2_V3,WK2_V4,WK2_Master3,WK3_V1,WK3_V2,WK3_V3,WK3_V4,WK3_Master4,WK4_V1,WK4_V2,WK4_V3,WK4_V4,WK4_V5,WK4_V6,WK4_V7,WK4_Master5,WK5_V1,WK6_SUK_V,WK7_V1,WK8_SUK_1,WK8_SUK_2,Recorded_Total,Recorded_Average,Recorded_Percentage,SUK_Recorded_Total,SUK_Recorded_Average,SUK_Recorded_Percentage,Masterclass_Total,Masterclass_Average,Masterclass_Percentage,Program_Total,Program_Average,Program_percentage
0,vijayacads@gmail.com,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.04,0.01,0.89,0.05,0.00,0.18
1,sreejith.sreenivasan@vigyanshaala.com,0.63,0.47,0.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.09,0.63,0.32,31.54,0.50,0.10,9.95,1.13,0.04,4.09
2,monikadaw5353@gmail.com,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,prachijagdale0123@gmail.com,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,nikitasingh4615@gmail.com,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.44,0.0,0.0,0.0,0.78,0.0,0.0,0.0,0.00,0.00,0.00,0.00,1.44,0.29,20.02,2.22,0.08,6.35

In [189]:
data.to_csv(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana Incubator Sept- Dec 2023 Batch\Kalpana Output\Incubator_and_attendence_monitoring_WithoutNotation.csv",mode='w',index=False)