In [1]:
# Importing reequired modules
import pandas as pd
import mysql.connector as msql
import math
import re
import requests

In [2]:
pd.__version__

'2.1.4'

In [3]:
# Displaying all columns and rows
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
# Reading data from incubator attendence monitoring sheet present on output folder
df=pd.read_csv(r"")

In [5]:
df.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'WK0_V1', 'WK0_V2', 'WK0_SUK_V', 'WK1_V1',
       'WK1_V2', 'WK1_WS1', 'WK1_Master1', 'WK2_SUK_V', 'WK3_V1', 'WK3_V2',
       'WK3_WS2', 'WK3_Master2', 'WK4_SUK_V', 'WK4_WS3', 'WK5_V1', 'WK5_V2',
       'WK5_V3', 'WK5_WS4', 'WK5_WS5', 'WK5_Master3', 'WK6_WS6', 'WK6_SUK_V',
       'WK7_V1', 'WK7_WS7', 'WK9_V1', 'WK9_V2', 'WK9_WS8', 'WK9_Master4',
       'WK10_V1', 'WK10_V2', 'WK10_V3', 'WK10_V4', 'WK10_WS9', 'WK10_Master5',
       'WK10_WS10', 'WK10_SUK_V', 'Pre_Recorded_Total_Hours',
       'SUK_Total_Hours', 'Masterclass_Total_Hours', 'Workshop_Total_Hours',
       'Program_Total_Hours', 'Pre_Recorded_Percentage', 'SUK_Percentage',
       'Masterclass_Percentage', 'Workshop_Percentage', 'Program_Percentage'],
      dtype='object')

In [ ]:
# Reading Quiz score from Quiz Information sheet present on output folder
Quiz=pd.read_csv(r""])

In [8]:
# Reading Assignment Score from Assignment sheet present on output folder
Assignment=pd.read_csv(r"C:\Users\spjay\OneDrive - VigyanShaala\02 Products  Initiatives\01 SheForSTEM\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana\04 Incubator - Curriculum Cohort\Incubator 6.0 UK\output\Assignment_Review.csv",usecols=["Email","Assignment_Score"])

In [9]:
# Cheaking the first column of datafame 'df'
df.columns[0]

'Email'

In [10]:
df.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'WK0_V1', 'WK0_V2', 'WK0_SUK_V', 'WK1_V1',
       'WK1_V2', 'WK1_WS1', 'WK1_Master1', 'WK2_SUK_V', 'WK3_V1', 'WK3_V2',
       'WK3_WS2', 'WK3_Master2', 'WK4_SUK_V', 'WK4_WS3', 'WK5_V1', 'WK5_V2',
       'WK5_V3', 'WK5_WS4', 'WK5_WS5', 'WK5_Master3', 'WK6_WS6', 'WK6_SUK_V',
       'WK7_V1', 'WK7_WS7', 'WK9_V1', 'WK9_V2', 'WK9_WS8', 'WK9_Master4',
       'WK10_V1', 'WK10_V2', 'WK10_V3', 'WK10_V4', 'WK10_WS9', 'WK10_Master5',
       'WK10_WS10', 'WK10_SUK_V', 'Pre_Recorded_Total_Hours',
       'SUK_Total_Hours', 'Masterclass_Total_Hours', 'Workshop_Total_Hours',
       'Program_Total_Hours', 'Pre_Recorded_Percentage', 'SUK_Percentage',
       'Masterclass_Percentage', 'Workshop_Percentage', 'Program_Percentage'],
      dtype='object')

In [11]:
# Taking Email and % of all Recorded, SUK Live,SUK sessions, Master
df1 = df[['Email', 'Pre_Recorded_Percentage', 'SUK_Percentage', 'Masterclass_Percentage','Workshop_Percentage', 'Program_Total_Hours', 'Program_Percentage']].copy()

In [12]:
# Adding Quiz score
df1=pd.merge(df1,Quiz, how ='left', on='Email')

In [13]:
# Adding Assignment Score
df1=pd.merge(df1,Assignment, how ='left', on='Email')

In [14]:
# Adding Time spend quizzes columns
df1["Time_Spent_On_Quizzes"]=2*0.167*df1["Overall_Average"]/100

In [15]:
# Filling null values with '0.0'
df1=df1.fillna('0.0')

In [16]:
# Making 'Assignment_Score' column data type as 'float'
df1['Assignment_Score'] = df1['Assignment_Score'].astype(float)

In [17]:
# Adding Time spent on assignments
df1["Time_Spent_On_Assignments"]=10*2.67*df1["Assignment_Score"]/100

In [22]:
df1['Time_Spent_On_Quizzes'] = df1['Time_Spent_On_Quizzes'].astype(float)
df1['Program_Total_Hours'] = df1['Program_Total_Hours'].astype(float)

In [23]:
# Creating 'Program_Overall_Time_Spent_Hours' by adding all necessary columns
df1["Program_Overall_Time_Spent_Hours"]=df1[["Program_Total_Hours","Time_Spent_On_Quizzes","Time_Spent_On_Assignments"]].sum(axis=1)

# ðŸ‘† change when you add quiz

In [24]:
# Filling Null values with zero and rounding off upto 2 decimal points
df1=df1.fillna(0)
df1=df1.round(2)

In [25]:
df1.columns

Index(['Email', 'Pre_Recorded_Percentage', 'SUK_Percentage',
       'Masterclass_Percentage', 'Workshop_Percentage', 'Program_Total_Hours',
       'Program_Percentage', 'Overall_Average', 'Assignment_Score',
       'Time_Spent_On_Quizzes', 'Time_Spent_On_Assignments',
       'Program_Overall_Time_Spent_Hours'],
      dtype='object')

# Define a dictionary that maps column names to their desired new names
new_names = {
    'Pre_Recorded_Percentage': 'Pre_Recorded_Videos_Percentage_WatchTime_Per_Week',
    'SUK_Percentage': 'SUK_Sessions_Percentage_WatchTime_Per_Week',
    'Masterclass_Percentage': 'MasterClass_Percentage_WatchTime_Per_Week',
    'Workshop_Percentage':'Workshop_Percentage_WatchTime_Per_Week',
    'Program_Percentage': 'Program_Percentage_WatchTime_Per_Week',
    'Program_Total_Hours': 'Program_Total_WatchTime_Per_Week',
    'Time_Spent_on_Assignments': 'Time_Spent_On_Assignments',
    'Program_Overall_Time_Spent_Hours': 'Program_Overall_Time_Spent_Hours'
}


# Iterate over the columns in Kalpana DataFrame
for col in df1.columns:
    # Check if the column name is in the new_names dictionary
    if col in new_names:
        # Rename the column using the corresponding new name from the dictionary
        df1.rename(columns={col: new_names[col]}, inplace=True)

In [27]:
# Function to clean email addresses
def clean_email(email):

    # Convert to lowercase and remove extra spaces
    cleaned_email = email.lower().strip()
    # Remove patterns like ".com.1"
    cleaned_email = re.sub(r'\.com\.\d+', '.com', cleaned_email)
    return cleaned_email

# Apply the function to the 'email' column
df1['Email'] = df1['Email'].apply(clean_email)

# Adding Genral Info as df2

In [ ]:
gi = pd.read_csv(r"")

In [29]:
gi = gi[['Email', 'Name', 'Phone', 'Name_of_College_University','Currently_Pursuing_Degree']].copy()

In [30]:
# Merge with gi
df2 = pd.merge(gi, df1, on='Email', how='outer')

In [31]:
df2 =df2.drop_duplicates()

In [32]:
df2.head()

,Email,Name,Phone,Name_of_College_University,Currently_Pursuing_Degree,Pre_Recorded_Percentage,SUK_Percentage,Masterclass_Percentage,Workshop_Percentage,Program_Total_Hours,Program_Percentage,Overall_Average,Assignment_Score,Time_Spent_On_Quizzes,Time_Spent_On_Assignments,Program_Overall_Time_Spent_Hours
0,nehakr2022@gmail.com,Neha Kumari,8.126394e+09,Dr. A.P.J. Abdul Kalam Institute of Technology...,B.E./B.Tech 3rd year,0.0,50.0,60.0,66.67,11.00,44.17,0.0,0.00,0.00,0.00,11.00
1,ankitapandey.bgr2005@gmail.com,Ankita Pandey,8.394071e+09,Dr. A.P.J. Abdul Kalam Institute of Technology...,B.E./B.Tech 3rd year,1.0,100.0,100.0,77.78,16.41,69.69,70.0,58.57,0.23,15.64,32.28
2,ridhimadixit1409@gmail.com,Ridhima Dixit,9.359899e+09,Dr. A.P.J. Abdul Kalam Institute of Technology...,B.E./B.Tech 3rd year,0.0,75.0,40.0,44.44,9.00,39.86,0.0,0.00,0.00,0.00,9.00
3,guptaminkashi153@gmail.com,Minakshi gupta,9.760190e+09,Dr. A.P.J. Abdul Kalam Institute of Technology...,B.E./B.Tech 3rd year,0.0,25.0,0.0,0.00,1.00,6.25,0.0,0.00,0.00,0.00,1.00
4,ankitapargai@gmail.com,Ankita Pargai,9.548626e+09,Dr. A.P.J. Abdul Kalam Institute of Technology...,B.E./B.Tech 4th year,0.0,25.0,20.0,33.33,5.00,19.58,0.0,0.00,0.00,0.00,5.00

In [33]:
df1.columns

Index(['Email', 'Pre_Recorded_Percentage', 'SUK_Percentage',
       'Masterclass_Percentage', 'Workshop_Percentage', 'Program_Total_Hours',
       'Program_Percentage', 'Overall_Average', 'Assignment_Score',
       'Time_Spent_On_Quizzes', 'Time_Spent_On_Assignments',
       'Program_Overall_Time_Spent_Hours'],
      dtype='object')

In [34]:
# Define a dictionary that maps column names to their desired new names
new_names = {
    'Overall_Average': 'Quizzes_Average',
    'Assignment_Score': 'Assignments_Average',
    'Program_Total_Hours': 'Time_Spent_On_Video_Content_Hours',
    'Pre_Recorded_Percentage':'Pre_Recorded_Percentage'
}


# Iterate over the columns in Kalpana DataFrame
for col in df1.columns:
    # Check if the column name is in the new_names dictionary
    if col in new_names:
        # Rename the column using the corresponding new name from the dictionary
        df1.rename(columns={col: new_names[col]}, inplace=True)

# Summary Date MySQL Table

In [ ]:
# Connecting to Database select database and password here
conn= msql.connect(host='',user='',password="",database="",auth_plugin='')

In [36]:
cursor =conn.cursor()

In [37]:
# Your existing code for inserting data into the database table
for i, row in df1.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(df1.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO she_for_stem.07_summary_overall_performance_monitoring ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in df1.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [38]:
conn.commit()

# Storing Data in Supabase

In [ ]:
# Supabase URL and API key
url = ''
api_key = ''


# Headers for the request
headers = {
    'apikey': api_key,
    'Authorization': f'Bearer {api_key}',
    'Content-Type': 'application/json',
    'Prefer': 'resolution=merge-duplicates'  # Enable upsert functionality
}

In [40]:
table_name = '07_summary_overall_performance_monitoring'

# Batch size for upserting
batch_size = 1000  # You can adjust this value based on your performance needs

# List to store rows before sending them in batches
batch_data = []

# Iterate through each row in the DataFrame
for i, row in df1.iterrows():
    # Replace NaN values with None
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row]
    # Convert row to a dictionary
    row_dict = dict(zip(df1.columns, row))
    
    # Add the row to the batch
    batch_data.append(row_dict)
    
    # If the batch size is reached, send the data
    if len(batch_data) >= batch_size:
        # Send a batch of rows
        response = requests.post(f'{url}/rest/v1/{table_name}', headers=headers, json=batch_data)
        
        # Check response
        if response.status_code in [200, 201]:
            print(f'Batch of {len(batch_data)} rows upserted successfully')
        else:
            print(f'Failed to upsert batch: {response.status_code}, {response.text}')
        
        # Clear the batch after sending
        batch_data = []

# Send any remaining rows in the last batch
if batch_data:
    response = requests.post(f'{url}/rest/v1/{table_name}', headers=headers, json=batch_data)
    
    if response.status_code in [200, 201]:
        print(f'Final batch of {len(batch_data)} rows upserted successfully')
    else:
        print(f'Failed to upsert final batch: {response.status_code}, {response.text}')

Final batch of 639 rows upserted successfully

# Summary data in CSV

In [41]:
# Checking columns name in table
df2.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'Pre_Recorded_Percentage',
       'SUK_Percentage', 'Masterclass_Percentage', 'Workshop_Percentage',
       'Program_Total_Hours', 'Program_Percentage', 'Overall_Average',
       'Assignment_Score', 'Time_Spent_On_Quizzes',
       'Time_Spent_On_Assignments', 'Program_Overall_Time_Spent_Hours'],
      dtype='object')

In [42]:
# Define a dictionary that maps column names to their desired new names
new_names = {
    'Pre_Recorded_Percentage': 'Pre Recorded Videos- Percentage (%)',
    'SUK_Percentage': 'SUK Sessions - Percentage (%)',
    'Masterclass_Percentage': 'MasterClass - Percentage (%)',
    'Workshop_Percentage':'Workshop Sessions - Percentage (%)',
    'Program_Percentage': 'Program Percentage (%)',
    'Program_Total_Hours': 'Time Spent on Video content (Hours)',
    'Overall_Average' : 'Quiz Score Average Score',
    'Time_Spent_On_Assignments': 'Time Spent on Assignments',
    'Time_Spent_On_Quizzes' : 'Time Spent on Quizzes',
    'Assignment_Score' : 'Assignment Completion Average Score',
    'Program_Overall_Time_Spent_Hours': 'Program Overall Time Spent Hours'
}


# Iterate over the columns in Kalpana DataFrame
for col in df2.columns:
    # Check if the column name is in the new_names dictionary
    if col in new_names:
        # Rename the column using the corresponding new name from the dictionary
        df2.rename(columns={col: new_names[col]}, inplace=True)

In [43]:
# Correcting the column list definition
cols = [
  'Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'Pre Recorded Videos- Percentage (%)',
       'SUK Sessions - Percentage (%)', 'MasterClass - Percentage (%)',
       'Workshop Sessions - Percentage (%)', 'Program Percentage (%)',
       'Time Spent on Video content (Hours)','Time Spent on Quizzes', 'Time_Spent_on_Assignments',
       'Program Overall Time Spent Hours',
       'Quiz Score Average Score', 'Assignment Completion Average Score'

]

# Reindexing the dataframe with the correct column order
df2 = df2.reindex(columns=cols)

In [44]:
df2.duplicated().sum()

0

In [45]:
# Filling Null values with zero and rounding off upto 2 decimal points
df2=df2.fillna(0)
df2=df2.round(2)

In [ ]:
# Exporting final sheet to Output folder
df2.to_csv(r"")