In [1]:
# importing required modules
import pandas as pd
import mysql.connector as msql
import math
import os

# Source file should be named as "Incubator Assignment Review"

In [2]:

directory_path = r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Remapping\Kalpana Source File\04_Source_Kalpana Assignment Review"
sheet_name = "Assignment Review"

excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

for file in excel_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    print(f"Data from {file}:")

Data from Assignment Review.xlsx:

In [3]:
df.head()

,Email,Name,Category,MC_Career Exploration,Comments,Current Status,WK_1_Goal Setting,Comments .1,Current Status .1,WK_1_SMART Goals,...,Assignment Score %,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,sanahkumar03@gmail.com,Sanah kumar,Regular,Accepted,You passed this ! But do note down the names o...,AVAILABLE FOR REVIEW,Accepted,Good!,AVAILABLE FOR REVIEW,Accepted,...,0.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ahana.ghosh@mbty.christuniversity.in,Ahana Ghosh,Kerala Chapter,Accepted,This is good! But do explore the institutes wh...,AVAILABLE FOR REVIEW,Accepted,Well done!,AVAILABLE FOR REVIEW,Accepted,...,0.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,anushkajoshi334@gmail.com,Anushka Joshi,StemChampion,Accepted,Good! Just explore some industries where you c...,AVAILABLE FOR REVIEW,Accepted,Awesome! You understood the purpose of the ass...,AVAILABLE FOR REVIEW,Accepted,...,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,thea.collinson@bcb.christuniversity.in,Thea Collinson,Kerala Chapter,Accepted,Good! Additionally you should explore various ...,AVAILABLE FOR REVIEW,Accepted,Good!,AVAILABLE FOR REVIEW,Accepted,...,0.666667,NaN,NaN,NaN,NaN,Submit 1,Review 1,Submit 2,Accepted,Rejected
4,thanishas_040@sfscollege.in,Thanisha S,Kerala Chapter,Rejected,You have not really explored careers! You shou...,AVAILABLE FOR REVIEW,Accepted,Awesome! You understood the purpose of the ass...,AVAILABLE FOR REVIEW,Accepted,...,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Dispalying All columns
pd.set_option('display.max_columns',None)
pd.options.display.float_format='{:.0f}'.format

In [5]:
# Selecting desired columns
df = df.iloc[:, :df.columns.get_loc('Assignment Score %')]

In [6]:
# Dropping columns containing 'Current Status' in their column name
cols_to_drop = [col for col in df.columns if 'Current Status' in col]
df.drop(cols_to_drop, axis=1, inplace=True)

In [7]:
# Create a list of columns that start with 'MC' or 'WK'
assign = [col for col in df.columns if col.startswith('MC') or col.startswith('WK')]

In [8]:
assign

['MC_Career Exploration',
 'WK_1_Goal Setting',
 'WK_1_SMART Goals',
 'WK_2_SWOT',
 'WK_3_RIASEC',
 'WK_3_Career Action Plan ',
 'MC_LinkedIn Profile ',
 'MC_CV/Resume ',
 'MC_Intership_Searching',
 'MC_Planning Masters']

In [9]:
# Remove leading/trailing spaces in the selected columns
df[assign] = df[assign].applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [10]:
df['MC_Career Exploration'].unique()

array(['Accepted', 'Rejected', 'Review 1', nan], dtype=object)

In [11]:
# Replace values in selected columns
replace_dict = {'Accepted': 100, 'Submit 1': 30, 'Review 1': 30, 'Submit 2': 80, 'Rejected': 80}
df[assign] = df[assign].replace(replace_dict)

In [12]:
# Convert the selected columns to float
df[assign] = df[assign].astype(float)

In [13]:
# Filling NaN Values with zero
df[assign]=df[assign].fillna(0)

In [14]:
df.head()

,Email,Name,Category,MC_Career Exploration,Comments,WK_1_Goal Setting,Comments .1,WK_1_SMART Goals,Comments .2,WK_2_SWOT,Comments .3,WK_3_RIASEC,Comments .4,WK_3_Career Action Plan,Comments .5,MC_LinkedIn Profile,Comments .6,MC_CV/Resume,Comments .7,MC_Intership_Searching,Comments .8,MC_Planning Masters,Comments .9
0,sanahkumar03@gmail.com,Sanah kumar,Regular,100,You passed this ! But do note down the names o...,100,Good!,100,Well Done!,100,Good job. You can make it more specific for he...,100,Well Done. It looks good. Always be aware of w...,0,NaN,100,Accepted!,100,"Good! Just one thing, you need to mention mont...",100,Well Done!,0,NaN
1,ahana.ghosh@mbty.christuniversity.in,Ahana Ghosh,Kerala Chapter,100,This is good! But do explore the institutes wh...,100,Well done!,100,This is great. The number of hours in achievab...,100,Very well done.! With a goal in mind. Good Cla...,100,Well Done. It looks good. Always be aware of w...,0,NaN,100,Apply the learnings from the LinkedInÂ Mastercl...,100,"This looks good, just make some minor changes ...",100,Good!,0,NaN
2,anushkajoshi334@gmail.com,Anushka Joshi,StemChampion,100,Good! Just explore some industries where you c...,100,Awesome! You understood the purpose of the ass...,100,Good!,100,Well Done!,100,Well Done. It looks good. Always be aware of w...,0,NaN,30,"Create your linkedin profile, wait for 2-3 day...",30,A few corrections needed are - 1. Bolden the k...,100,Well Done!,30,NaN
3,thea.collinson@bcb.christuniversity.in,Thea Collinson,Kerala Chapter,100,Good! Additionally you should explore various ...,100,Good!,100,Good,100,Well Done!,100,Well Done. It looks good. Always be aware of w...,0,NaN,0,NaN,30,LinkedIn Link is broken and not working. In th...,100,Well Done!,0,NaN
4,thanishas_040@sfscollege.in,Thanisha S,Kerala Chapter,80,You have not really explored careers! You shou...,100,Awesome! You understood the purpose of the ass...,100,Well Done!,100,Well Done!,100,Well Done. It looks good. Always be aware of w...,0,NaN,100,Apply the learnings from the LinkedInÂ Mastercl...,30,1. You have not made corrections in the educat...,100,Good!,30,NaN

In [15]:
df.columns

Index(['Email', 'Name ', 'Category', 'MC_Career Exploration', 'Comments ',
       'WK_1_Goal Setting', 'Comments .1', 'WK_1_SMART Goals', 'Comments .2',
       'WK_2_SWOT', 'Comments .3', 'WK_3_RIASEC', 'Comments .4',
       'WK_3_Career Action Plan ', 'Comments .5', 'MC_LinkedIn Profile ',
       'Comments .6', 'MC_CV/Resume ', 'Comments .7', 'MC_Intership_Searching',
       'Comments .8', 'MC_Planning Masters', 'Comments .9'],
      dtype='object')

In [16]:
# Calculate the sum of selected columns
sum_of_scores = df[assign].sum(axis=1)

# Count the number of selected columns
num_of_columns = len(assign)

# Calculate the average score
df['Assignment_Score'] = sum_of_scores / num_of_columns

In [17]:
# Rounding Off values of Assignment score to two digits
df['Assignment_Score']=df['Assignment_Score'].round(2)

In [18]:
df=df.fillna('')

In [19]:
df.head()

,Email,Name,Category,MC_Career Exploration,Comments,WK_1_Goal Setting,Comments .1,WK_1_SMART Goals,Comments .2,WK_2_SWOT,Comments .3,WK_3_RIASEC,Comments .4,WK_3_Career Action Plan,Comments .5,MC_LinkedIn Profile,Comments .6,MC_CV/Resume,Comments .7,MC_Intership_Searching,Comments .8,MC_Planning Masters,Comments .9,Assignment_Score
0,sanahkumar03@gmail.com,Sanah kumar,Regular,100,You passed this ! But do note down the names o...,100,Good!,100,Well Done!,100,Good job. You can make it more specific for he...,100,Well Done. It looks good. Always be aware of w...,0,,100,Accepted!,100,"Good! Just one thing, you need to mention mont...",100,Well Done!,0,,80
1,ahana.ghosh@mbty.christuniversity.in,Ahana Ghosh,Kerala Chapter,100,This is good! But do explore the institutes wh...,100,Well done!,100,This is great. The number of hours in achievab...,100,Very well done.! With a goal in mind. Good Cla...,100,Well Done. It looks good. Always be aware of w...,0,,100,Apply the learnings from the LinkedInÂ Mastercl...,100,"This looks good, just make some minor changes ...",100,Good!,0,,80
2,anushkajoshi334@gmail.com,Anushka Joshi,StemChampion,100,Good! Just explore some industries where you c...,100,Awesome! You understood the purpose of the ass...,100,Good!,100,Well Done!,100,Well Done. It looks good. Always be aware of w...,0,,30,"Create your linkedin profile, wait for 2-3 day...",30,A few corrections needed are - 1. Bolden the k...,100,Well Done!,30,,69
3,thea.collinson@bcb.christuniversity.in,Thea Collinson,Kerala Chapter,100,Good! Additionally you should explore various ...,100,Good!,100,Good,100,Well Done!,100,Well Done. It looks good. Always be aware of w...,0,,0,,30,LinkedIn Link is broken and not working. In th...,100,Well Done!,0,,63
4,thanishas_040@sfscollege.in,Thanisha S,Kerala Chapter,80,You have not really explored careers! You shou...,100,Awesome! You understood the purpose of the ass...,100,Well Done!,100,Well Done!,100,Well Done. It looks good. Always be aware of w...,0,,100,Apply the learnings from the LinkedInÂ Mastercl...,30,1. You have not made corrections in the educat...,100,Good!,30,,74

In [20]:
#df.to_csv('Assignment_Review.csv', mode='a',index=False)

In [21]:
df.head(1)

,Email,Name,Category,MC_Career Exploration,Comments,WK_1_Goal Setting,Comments .1,WK_1_SMART Goals,Comments .2,WK_2_SWOT,Comments .3,WK_3_RIASEC,Comments .4,WK_3_Career Action Plan,Comments .5,MC_LinkedIn Profile,Comments .6,MC_CV/Resume,Comments .7,MC_Intership_Searching,Comments .8,MC_Planning Masters,Comments .9,Assignment_Score
0,sanahkumar03@gmail.com,Sanah kumar,Regular,100,You passed this ! But do note down the names o...,100,Good!,100,Well Done!,100,Good job. You can make it more specific for he...,100,Well Done. It looks good. Always be aware of w...,0,,100,Accepted!,100,"Good! Just one thing, you need to mention mont...",100,Well Done!,0,,80

In [22]:
df.columns

Index(['Email', 'Name ', 'Category', 'MC_Career Exploration', 'Comments ',
       'WK_1_Goal Setting', 'Comments .1', 'WK_1_SMART Goals', 'Comments .2',
       'WK_2_SWOT', 'Comments .3', 'WK_3_RIASEC', 'Comments .4',
       'WK_3_Career Action Plan ', 'Comments .5', 'MC_LinkedIn Profile ',
       'Comments .6', 'MC_CV/Resume ', 'Comments .7', 'MC_Intership_Searching',
       'Comments .8', 'MC_Planning Masters', 'Comments .9',
       'Assignment_Score'],
      dtype='object')

In [23]:
new_names = {
    'Name ': "Name",
    'Email': "Email",
    'Category': "Category",
   'MC_Career Exploration': 'Career_Exploration',
    'Comments ': 'Comments_Career_Exploration',
    'WK_1_Goal Setting': 'Goal_Setting',
    'Comments .1': 'Comments_WK_1_Goal_Setting',
    'WK_1_SMART Goals': 'SMART_Goal',
    'Comments .2': 'Comments_SMART_Goal',
    'WK_2_SWOT': 'SWOT',
    'Comments .3': 'Comments_SWOT',
    'WK_3_RIASEC': 'RIASEC',
    'Comments .4': 'Comments_RIASEC',
    'WK_3_Career Action Plan ': 'Career_Action_Plan',
    'Comments .5': 'Comments_Career_Action_Plan',
    'MC_LinkedIn Profile ': 'LinkedIn_Profile',
    'Comments .6': 'Comments_LinkedIn_Profile',
    'MC_CV/Resume ': 'CV_Resume',
    'Comments .7': 'Comments_CV_Resume',
    'MC_Intership_Searching': 'Internship_Searching',
    'Comments .8': 'Comments_Internship_Searching',
    'MC_Planning Masters': 'Planning_Masters',
    'Comments .9': 'Comments_Planning_Masters'
}

for col in df.columns:
    if col in new_names:
        df.rename(columns={col: new_names[col]}, inplace=True)

In [24]:
df.columns

Index(['Email', 'Name', 'Category', 'Career_Exploration',
       'Comments_Career_Exploration', 'Goal_Setting',
       'Comments_WK_1_Goal_Setting', 'SMART_Goal', 'Comments_SMART_Goal',
       'SWOT', 'Comments_SWOT', 'RIASEC', 'Comments_RIASEC',
       'Career_Action_Plan', 'Comments_Career_Action_Plan', 'LinkedIn_Profile',
       'Comments_LinkedIn_Profile', 'CV_Resume', 'Comments_CV_Resume',
       'Internship_Searching', 'Comments_Internship_Searching',
       'Planning_Masters', 'Comments_Planning_Masters', 'Assignment_Score'],
      dtype='object')

In [25]:
# Exporting the dataset to output folder
df.to_csv(r"C:\Users\HP\OneDrive - VigyanShaala\02 Products  Initiatives\01 Kalpana\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Remapping\Kalpana Output\Assignment_Review_Sep_2023.csv",mode='w',index=False)

# Storing data on MySQL

In [26]:
# Connecting MySQL Kalpana Database
conn= msql.connect(host='localhost',user='root',password="VS@123",database="kalpana",auth_plugin='mysql_native_password')
cursor =conn.cursor()

In [27]:
# Get the existing columns in the database
cursor.execute("SHOW COLUMNS FROM kalpana.11_incubator_assignment_monitoring")
existing_columns = [col[0] for col in cursor.fetchall()]

# Define the column name before which the new column should be added
target_column = 'Assignment_Score'

# Check if any new columns exist in the dataframe but not in the database
new_columns = [col for col in df.columns if col not in existing_columns]
if new_columns:
    # Add new columns to the database before the target column
    for col in reversed(new_columns):
        if col not in existing_columns:
            # Get the index of the target column
            target_column_index = existing_columns.index(target_column)
            # Set the data type based on whether the column name starts with Comment
            data_type = "INT" if not col.startswith("Comment") else "TEXT"
            alter_query = f"ALTER TABLE 11_incubator_assignment_monitoring ADD COLUMN {col} {data_type} AFTER {existing_columns[target_column_index - 1]}"
            cursor.execute(alter_query)
            existing_columns.insert(target_column_index - 1, col)

In [28]:
# Your existing code for inserting data into the database table
for i, row in df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(df.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO 11_incubator_assignment_monitoring ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in df.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [29]:
conn.commit()