In [1]:
# Importing the pandas library for data manipulation
import pandas as pd 

# Importing the re library for regular expression operations
import re 

# Importing the os library for operating system dependent functionality
import os 

# Importing the mysql.connector library for connecting to MySQL databases
import mysql.connector as msql 

# Importing the math library for mathematical operations
import math

In [ ]:
# Read the data from the summary_overall_performance_monitoring into a pandas DataFrame
df = pd.read_csv(r"")

In [ ]:
# Read the data from the Assignment_Review into a pandas DataFrame

df_ass= pd.read_csv(r"")

In [4]:
df_ass.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'Goal_Setting', 'Comments_Goal_Setting',
       'SMART_Goal', 'Comments_SMART_Goal', 'CV_Resume', 'Comments_CV_Resume',
       'Career_Exploration', 'Comments_Career_Exploration',
       'Career_Action_Plan', 'Comments_Career_Action_Plan',
       'Internship_Searching', 'Comments_Internship_Searching',
       'LinkedIn_Profile', 'Comments_LinkedIn_Profile', 'Assignment_Score'],
      dtype='object')

In [5]:
# Drop Multiple columns 
df_ass = df_ass.drop(['Name', 'Phone', 'Name_of_College_University','Currently_Pursuing_Degree','Assignment_Score'], axis=1)

In [6]:
# Create a list of columns that start with 'Assignment' or 'Practice_Assignment'
cols = [col for i, col in enumerate(df_ass.columns) if i % 2 != 0]

# Add a new column 'Total Assignment' to the DataFrame
# For each row, count the number of columns in 'cols' that have values greater than 0
df_ass['Total Assignment'] = df_ass[cols].apply(lambda row: sum(1 for val in row if val > 0), axis=1)

In [8]:
df.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'Pre Recorded Videos- Percentage (%)',
       'SUK Sessions - Percentage (%)', 'MasterClass - Percentage (%)',
       'Workshop Sessions - Percentage (%)', 'Program Percentage (%)',
       'Time Spent on Video content (Hours)', 'Time Spent on Quizzes',
       'Time_Spent_on_Assignments', 'Program Overall Time Spent Hours',
       'Quiz Score Average Score', 'Assignment Completion Average Score'],
      dtype='object')

In [10]:
# Find the maximum value in the 'Attendance Score' column
max_attendance_points = df['Program Percentage (%)'].max()

In [11]:
max_attendance_points

99.54

In [12]:
# Create a new column 'Attendance Points'
# For each row, calculate the attendance points using the formula:
# (attendance score / maximum attendance score) * 50
df['Attendance Points'] = (df['Program Percentage (%)'] / max_attendance_points) * 50

In [13]:
# Find the maximum value in the 'Quiz Score Average Score' column
max_quiz_points = df['Quiz Score Average Score'].max()

In [14]:
max_quiz_points

93.33

In [15]:
# Create a new column 'Quiz Points'
# For each row, calculate the attendance points using the formula:
df['Quiz Points'] = (df['Quiz Score Average Score'] / max_quiz_points) * 20

In [16]:
# Find the maximum value in the 'Quiz Score Average Score' column
max_assign_points = df['Assignment Completion Average Score'].max()

In [17]:
max_assign_points

71.43

In [18]:
# Create a new column 'Assignment Points'
# For each row, calculate the attendance points using the formula:
df['Assignment Points'] = (df['Assignment Completion Average Score'] / max_assign_points) * 30

In [19]:
df_merge = pd.merge(df,df_ass, on="Email")

In [20]:
df_merge.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'Pre Recorded Videos- Percentage (%)',
       'SUK Sessions - Percentage (%)', 'MasterClass - Percentage (%)',
       'Workshop Sessions - Percentage (%)', 'Program Percentage (%)',
       'Time Spent on Video content (Hours)', 'Time Spent on Quizzes',
       'Time_Spent_on_Assignments', 'Program Overall Time Spent Hours',
       'Quiz Score Average Score', 'Assignment Completion Average Score',
       'Attendance Points', 'Quiz Points', 'Assignment Points', 'Goal_Setting',
       'Comments_Goal_Setting', 'SMART_Goal', 'Comments_SMART_Goal',
       'CV_Resume', 'Comments_CV_Resume', 'Career_Exploration',
       'Comments_Career_Exploration', 'Career_Action_Plan',
       'Comments_Career_Action_Plan', 'Internship_Searching',
       'Comments_Internship_Searching', 'LinkedIn_Profile',
       'Comments_LinkedIn_Profile', 'Total Assignment'],
      dtype='object')

In [21]:
# Group by 'Name of the College' and calculate the average for each group
df_merge_1 = df_merge.groupby('Name_of_College_University').agg({
    'Attendance Points': 'mean',
    'Quiz Points': 'mean',
    'Assignment Points': 'mean',
    'Total Assignment' : 'sum'
}).reset_index()

# Rename the columns for clarity
df_merge_1.columns = ['Name of College', 'Attendance Points', 'Quiz Points', 'Assignment Points','Total Assignment']

In [23]:
# Get all values of 'College' column
college_values = df_merge_1['Name of College'].tolist()

print(college_values)

['0', 'Dev Bhoomi Uttarakhand University, Dehradun ', 'Dr. A.P.J. Abdul Kalam Institute of Technology, Tanakpur', 'G B Pant Institute of Engineering & Technology', 'G.P.G.C.Berinag (Stemchampions)', 'Institute of Technology, Gopeshwar', 'JBIT, Dehradun', 'LSM PG CAMPUS PITHORAGARH (Stemchampions)', 'Nanhi Pari Seemant Institute of Technology, Pithoragarh', 'SSJ Campus, Champawat (Stemchampions)', 'THDC Institute of Hydropower Engineering and Technology, Tehri', 'Tulas Institute, Dehradun', 'UPES, Dehradun', 'Uttaranchal University', 'Women Institute of Technology, Dehradun']

In [24]:
# Create a new column 'Final Score'
# Calculate it by summing the values of 'Attendance Points', 'Quiz Points', and 'Assignment Points' for each row
df_merge_1['Final Score'] = df_merge_1[['Attendance Points', 'Quiz Points', 'Assignment Points']].sum(axis=1)

In [25]:
df_merge_1

,Name of College,Attendance Points,Quiz Points,Assignment Points,Total Assignment,Final Score
0,0,2.461322,0.000000,4.800504,2,7.261826
1,"Dev Bhoomi Uttarakhand University, Dehradun",3.255614,2.234077,1.723395,15,7.213086
2,Dr. A.P.J. Abdul Kalam Institute of Technology...,6.514541,0.486309,1.263817,11,8.264668
3,G B Pant Institute of Engineering & Technology,1.140863,0.417608,0.000000,0,1.558472
4,G.P.G.C.Berinag (Stemchampions),46.475789,15.143684,23.039059,20,84.658532
5,"Institute of Technology, Gopeshwar",18.095269,8.683234,13.330927,74,40.109431
6,"JBIT, Dehradun",2.254621,0.642880,0.300084,1,3.197585
7,LSM PG CAMPUS PITHORAGARH (Stemchampions),42.875800,15.612496,22.713746,28,81.202042
8,"Nanhi Pari Seemant Institute of Technology, Pi...",22.332512,6.553184,7.435312,35,36.321009
9,"SSJ Campus, Champawat (Stemchampions)",33.668336,12.253295,18.737441,41,64.659071
10,THDC Institute of Hydropower Engineering and T...,1.225933,0.000000,0.094128,1,1.320061
11,"Tulas Institute, Dehradun",1.237330,0.455669,0.082767,1,1.775766
12,"UPES, Dehradun",1.270344,0.000000,0.000000,0,1.270344
13,Uttaranchal University,0.899136,0.079348,0.400042,3,1.378526
14,"Women Institute of Technology, Dehradun",2.076753,0.000000,0.000000,0,2.076753

In [26]:
# Drop rows where 'Name of College' has only one letter
df_merge_1 = df_merge_1[df_merge_1['Name of College'].str.len() > 1]

In [27]:
df_merge.columns

Index(['Email', 'Name', 'Phone', 'Name_of_College_University',
       'Currently_Pursuing_Degree', 'Pre Recorded Videos- Percentage (%)',
       'SUK Sessions - Percentage (%)', 'MasterClass - Percentage (%)',
       'Workshop Sessions - Percentage (%)', 'Program Percentage (%)',
       'Time Spent on Video content (Hours)', 'Time Spent on Quizzes',
       'Time_Spent_on_Assignments', 'Program Overall Time Spent Hours',
       'Quiz Score Average Score', 'Assignment Completion Average Score',
       'Attendance Points', 'Quiz Points', 'Assignment Points', 'Goal_Setting',
       'Comments_Goal_Setting', 'SMART_Goal', 'Comments_SMART_Goal',
       'CV_Resume', 'Comments_CV_Resume', 'Career_Exploration',
       'Comments_Career_Exploration', 'Career_Action_Plan',
       'Comments_Career_Action_Plan', 'Internship_Searching',
       'Comments_Internship_Searching', 'LinkedIn_Profile',
       'Comments_LinkedIn_Profile', 'Total Assignment'],
      dtype='object')

In [29]:
# Rename the columns for clarity
college_student_count.columns = ['Name of College', 'Number of Students']

In [30]:
# Drop rows where 'Name of College' has only one letter
college_student_count = college_student_count[college_student_count['Name of College'].str.len() > 1]

In [31]:
# Merge two DataFrames, `college_student_count` and `df_merge_1`, based on the 'College' column
# Use an inner join to include only rows with matching 'College' values in both DataFrames
leaderboard =pd.merge(college_student_count,df_merge_1,on='Name of College',how='inner')

In [33]:
leaderboard.columns

Index(['Name of College', 'Number of Students', 'Attendance Points',
       'Quiz Points', 'Assignment Points', 'Total Assignment', 'Final Score'],
      dtype='object')

In [34]:
# Reordering columns
leaderboard = leaderboard[['Name of College', 'Number of Students', 'Attendance Points',
         'Quiz Points', 'Assignment Points', 'Final Score', 'Total Assignment']]

In [35]:
# Filling Null values with zero and rounding off upto 2 decimal points
leaderboard=leaderboard.fillna(0)
leaderboard=leaderboard.round(2)

#### Stake holders Report

In [36]:
# Define a list of columns to be dropped from the DataFrame
columns_to_drop = ['Assignment Points', 'Final Score']

# Drop the specified columns from the DataFrame
# The `inplace=True` parameter modifies the DataFrame directly without creating a copy
stake_holders = leaderboard.drop(columns=columns_to_drop)

In [37]:
# Filling Null values with zero and rounding off upto 2 decimal points
stake_holders=stake_holders.fillna(0)
stake_holders=stake_holders.round(2)

In [38]:
# Adjust the values in the 'Quiz Points' column
# Divide each value in 'Quiz Points' by 2
stake_holders['Quiz Points'] = stake_holders['Quiz Points'] / 2

In [39]:
# Adjust the values in the 'Attendance Points' column
# Multiply each value in 'Attendance Points' by 2
stake_holders['Attendance Points'] = stake_holders['Attendance Points'] * 2

In [40]:
# Rename columns in the DataFrame
stake_holders = stake_holders.rename(columns={'Attendance Points': 'Average Attendance %','Quiz Points': 'Average Quiz Score (Out of 10)','Total Assignment': 'Total Assignment submissions'})

#### Dumping Data

In [ ]:
# Assuming df is your final DataFrame
output_directory = r""
# Create the directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

output_path = os.path.join(output_directory, 'Colleges_Leaderboard.csv')
leaderboard.to_csv(output_path, index=False)

In [ ]:
# Assuming df is your final DataFrame
output_directory = r""
# Create the directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

output_path = os.path.join(output_directory, 'Summary_Report.csv')
stake_holders.to_csv(output_path, index=False)

In [43]:
leaderboard.head()

,Name of College,Number of Students,Attendance Points,Quiz Points,Assignment Points,Final Score,Total Assignment
0,"Dev Bhoomi Uttarakhand University, Dehradun",47,3.26,2.23,1.72,7.21,15
1,Dr. A.P.J. Abdul Kalam Institute of Technology...,47,6.51,0.49,1.26,8.26,11
2,G B Pant Institute of Engineering & Technology,65,1.14,0.42,0.00,1.56,0
3,G.P.G.C.Berinag (Stemchampions),5,46.48,15.14,23.04,84.66,20
4,"Institute of Technology, Gopeshwar",32,18.10,8.68,13.33,40.11,74

In [44]:
# Add Incubator_Batch column with all values set to 'Incubator 6.0'
leaderboard['Incubator_Batch'] = 'Incubator 6.0'

In [45]:
leaderboard.columns

Index(['Name of College', 'Number of Students', 'Attendance Points',
       'Quiz Points', 'Assignment Points', 'Final Score', 'Total Assignment',
       'Incubator_Batch'],
      dtype='object')

In [46]:
# Rename columns
leaderboard.rename(columns={
    'Name of College': 'College_Name',
    'Number of Students': 'Number_of_Students',
    'Attendance Points': 'Attendance_Points',
    'Quiz Points': 'Quiz_Points',
    'Assignment Points': 'Assignment_Points',
    'Final Score': 'Final_Score',
    'Total Assignment': 'Total_Assignment',
    'Incubator_Batch': 'Incubator_Batch'
}, inplace=True)

# Summary Date MySQL Table

In [ ]:
# Connecting to MySQL Database
conn= msql.connect(host='',user='',password="",database="",auth_plugin='')
cursor =conn.cursor()

In [48]:
# Your existing code for inserting data into the database table
for i, row in leaderboard.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(leaderboard.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO she_for_stem.23_college_wise_leaderboard ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in leaderboard.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [49]:
conn.commit()